asyncio
aiofiles
aiohttp
aioshutil
anytree
apscheduler
aioaria2
aioqbt
imdbinfo
cloudscraper
dnspython
fastapi
feedparser
google-api-python-client
google-auth-oauthlib
gunicorn
httpx
langcodes
language-data
jinja2
lxml
natsort
par2cmdline-turbo
pillow
psutil
pycountry
pymongo
pyrotgfork
pytgcrypto
python-magic
pytz
qbittorrent-api
requests
speedtest-cli
telegraph
tenacity
urllib3
uvicorn
uvloop
xattr
yt-dlp[default,curl-cffi]
